body{
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 1030px)and (max-height: 1366px) {
    .headerstyle{
        height: 43vh;
        width: auto;
        background: url(img/header.png) ;
        background-size: cover;
    }
    
    .linkStyle{
        text-decoration: none;
        color: #ffff;
    }

    .fontHeader{
        display: block;
        color: whitesmoke;
        font-size: 5.6vw;
        margin-top: 9vh;
        margin-left: 35vw;
        font-family: 'Roboto Slab', serif;
    }
    .sfeduLogo{
        margin-top: 5px;
        margin-left: 5px;
        left: 0px;
        width: 20vh;
    }
    .changeLanguageButton{
       
        right: 0;
        padding: 10px;
        border: none;
        background-color: transparent;
        color: whitesmoke;
        font-size: 1.5vh;
    }
    .topPageElement{
        display: flex;
        justify-content: space-between;
    }
    .navPanel{
        font-size: 4vw;
        display: flex;
        justify-content: space-around;
        margin-top: 13vh;
    }
    
    .navButton{
        color: white;
        text-decoration: none;
        font:20px;
        font-family: 'Roboto Slab', serif;
    }
    .aboutUsContainerStyle{
        height: 40vh;
        width: auto;
        background: url(img/aboutUsBackground.jpg) ;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutUs{
      
      color: white;  
      text-align: center;
      margin-left:  10px;
      margin-right:  10px;
      font-size: 3.5vw;
      margin-top: 0;
      z-index: 2;
      font-family: 'Roboto Slab', serif;
    }
    .aboutUsHeader{
        color: white;  
        text-align: center;
        margin-left:  10px;
        margin-right:  10px;
        font-size: 5vw;
        margin-top: 0;
        z-index: 2;
        font-family: 'Roboto Slab', serif;
    }
    .darkened {
        position: relative;
      }
       
      .darkened::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.45);  
        z-index: 1;
      }
    .newsBackground{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
        align-items: center;
        width: auto;
        background-color: white;
    }
    .newsTitle{
      color: #4A69B6; 
      text-align: center;
      margin-left:  10px;
      margin-right:  10px;
      font-size: 4vw;
      margin-top: 0;
      padding-top:20px;
      margin-bottom: 0;
      font-family: 'Roboto Slab', serif;
    }
    hr{
        border: none; /* Убираем границу */
        background-color: blueviolet; /* Цвет линии */
        color:blueviolet; /* Цвет линии для IE6-7 */
        height: 2px; /* Толщина линии */
        width: 100px;
       
    }
    .lineMargin{
        margin-top: 0px;
        margin-bottom: 5%;
    }
    .newsPic{
        height: auto;
        width: 80vw;
        background-size: cover;
        border: 1px solid white;
        border-radius: 15px;
    }
  
    .newsInfo{
        text-decoration: none;
        color: #808080;
        text-align: center;
        box-sizing: border-box;
        font-size: 3vw;;
        padding: 0 20px 0 20px;
        font-family: 'Roboto Slab', serif;
    }
    .delBottomMargn{
        margin: 0em;
    }
    
    .partnersTitle{
        color: #4A69B6; 
        text-align: center;
        margin-left:  10px;
        margin-right:  10px;
        font-size: 4vw;
        margin-top: 0;
        margin-bottom: 0;
        font-family: 'Roboto Slab', serif;

    }
    .partnersLine{
        border: none; /* Убираем границу */
        background-color: #3872B5; /* Цвет линии */
        color:#3872B5; /* Цвет линии для IE6-7 */
        height: 2px; /* Толщина линии */
        width: 100px;
        margin-bottom: 0;
        margin-top: 5%;
        box-sizing: border-box;
    }
    @media screen and (min-width: 700px) {
       
        .partner1Pic, .partner2Pic, .partner3Pic{
            height: 35vh;
            width: 23vh;
        }
    }
    @media screen and (min-height: 1000px) {
        .partner1Pic, .partner2Pic, .partner3Pic{
            height: 55vh;
            width: 33vh;
        }
        .feedbackForm{
            padding-left: 50%;
        }
    }
    .partnerFlex{
        margin-top: 10%;
        height: 13vh;
        width: auto;
        display: flex;
        justify-content: space-around;
    }
    .partner1Pic{
        height: 15vh;
        width: 15vh;
        background-image: url(img/partner1.jpg);
        background-size: cover;
        background-color: #EBDEDE ;
        vertical-align: bottom;
        color: white;
        margin-top:5% ;
        border: 1px solid white;
        border-radius: 15px;
    }
    .partner2Pic{
        height: 15vh;
        width: 15vh;
        background-image: url(img/partner2.jpg);
        background-size: cover;
        background-color: #EBDEDE ;
        vertical-align: bottom;
        color: white;
        margin-top:5% ;
        border: 1px solid white;
        border-radius: 15px;
    }
    .partner3Pic{
        height: 15vh;
        width: 15vh;
        background-image: url(img/partner3.jpg);
        background-size: cover;
        background-color: #EBDEDE ;
        vertical-align: bottom;
        color: white;
        margin-top:5% ;
        border: 1px solid white;
        border-radius: 15px;
    }
    .blueLine{
        height: 10vh;
        width: auto;
        background-color: #3872B5 ;
        
    }
    .feedbackBackground{
        height: auto;
        background-image: url(img/footerFone.jpg.png);
        background-size: cover;
    }
    .contacts{
        color: #ffffff; 
        text-align: center;
        margin-left:  10px;
        margin-right:  10px;
        font-size: 2vh;
        margin-top: 0;
        padding-top:20px;
        margin-bottom: 0;
      }
  
    .feedbackForm{
        box-sizing: border-box;
        flex-grow: 4;
        padding-left: 10%;
    }
    .feedbackInput{
        color: #808080; 
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #808080;
    }
    .inputStyle{
        color: #ffffff;
        font-size: 1.5vh;
    }
    .feedbackflex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: middle;
    }
    .addressStyle{
        padding-left: 20px;
        color: #ffff;
        font-size: 1.5vh;
    }
    .sendButt{
        color: #808080;
        background-color: white;
        font-size: 1.5vh;
        margin-left: 75%;
    }
    @media screen and (min-height: 1000px) {

        .feedbackForm{
            padding-left: 30%;
        }
        .sendButt{
            margin-left: 52%;
        }
        .inputStyle {
            font-size: 3vh;
        }
        .feedbackInput,  .addressStyle, .sendButt{
            font-size: 2vh;
        }
        .contacts{
            font-size: 3.5vh;

        }
        
    }

    .marginTop{
        margin-top: 5%;
    }
    .txtArea{
        width: 70%;
        height: 10vh;
    }
    .newsLink{
       text-decoration: none;
       color: #ffffff;
    }

    .footerbackground{
        background-color:#3872B5;
        height: 10vh;
        width: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .bold{
        font-weight: bold;
    }
    .soc{
        height: 5vh;
        width: auto;
    }
    .linkStyleSpecial{
        color: #3872B5;
        text-decoration: none;
    }
     /* \\\\\\ */
    
      
    /* \\\\\\ */
}
